/* Glavni kontejner */
.approve-users-container {
  background-color: #262626 !important; /* Tamnosiva pozadina */
  color: white; /* Bela boja teksta */
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 15px;
  max-width: 1200px;
  margin: 20px auto;
  border: none;
}

/* Stilizacija tabele */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1f2021;
  border: none; /* Uklanja ivice oko tabele */
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  color: white !important;
  background-color: #1f2021 !important;
  border: none; /* Uklanja ivice unutar tabele */
}

th {
  background-color: #5d87b0; /* Plavo za zaglavlja */
  border-bottom: 2px solid #555b63;
}

tr:nth-child(even) {
  background-color: #2c2f36; /* Mračniji ton za parne redove */
}

tr:hover {
  background-color: #444c55;
}
